.headerContainer{
  height: 4rem ;
  border-bottom: 1px solid var(--grey-8);
}
.headerContent{
  max-width: 70%;
  height: 4rem;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: center;
  display: flex;
  nav{
    margin-left: 4rem;
    height: 5rem; 
    
    a{
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--grey-3);
      transition: color 0.2s;
      font-size: 0.75rem;

      &+a{
        margin-left: 1.5rem;
      }
      &:hover{
        color: white;
      }
      :active{
        color: white;
        font-weight: 400;
      }

      &:active::after{  
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        position: absolute;
        bottom: 9px;
        left: 0;
        width: 100%;
        background: var(--yellow-5);
      }
    } button{ margin-left: auto;}

   
  }
  button{ margin-left: auto;}

}
.signInButton{
  height: 3rem;
  border-radius: 3rem;
  background: var(--grey-c);
  border: none;
  display: flex;
  align-items: center;
  color: var(--white);
  justify-content: center;
  padding: 0 1.5rem;
  font:600 8px 'ubuntu';

  svg{
    height: 1.25rem;
    width: 1.25rem; 
  }
  svg:first-child{
    margin-right: 1rem;
  }
  transition: filter 0.25s;
  &:hover{
    filter: brightness(0.8);
  }
  .closeBtn{
    color: var(--grey-3);
    margin-left: 1rem;
    transition: color 1s;
    &:hover{
      color: rgb(243, 107, 107);
    }
  }
}